<h3>Edit Provider</h3>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View All Providers', physicians_path %></li>
  <li class="active"><%= link_to 'Edit Provider', edit_physician_path %></li>
</ul>

<%= render 'form' %>

<%= link_to 'Show', @physician, class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', physicians_path, class: "btn btn-default btn-sm" %>
