<h3>Providers</h3>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View All Providers', physicians_path %></li>
  <li><%= link_to 'New Provider', new_physician_path %></li>
</ul>

<p id="notice"><%= notice %></p>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th class="col-sm-2">Provider</th>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-4">Bio</th>
      <th class="col-sm-2">Specialty</th>
      <th class="col-sm-2">Hospital</th>
      <th class="col-sm-1" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= link_to( image_tag(physician.avatar.url(:thumb)), physician) %></td>
        <td><%= physician.name %></td>
        <td><%= physician.bio %></td>
        <td><%= physician.specialty %></td>
        <td><%= Hospital.find(physician.hospital_id).name %></td>
        <td><%= link_to 'View', physician, class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician), class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Delete', physician, class: "btn btn-default btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_physician_path, class: "btn btn-success" do %>
  <i class="glyphicon glyphicon-plus"></i> New Physician
<% end %>
