<h1>Editing Patient</h1>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View All Patients', patients_path %></li>
  <li class="active"><%= link_to "#{@patient.name}" %></li>
</ul>

<%= render 'form' %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
