<h3>Patient: <%= @patient.name %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @patient.bio %>
</p>

<p>
  <strong>Room:</strong>
  <%= @patient.room %>
</p>

<p>
  <strong>Checkin date:</strong>
  <%= @patient.checkin_date %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @patient.release_date %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= Hospital.find(@patient.hospital_id).name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @patient.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', patients_path, class: "btn btn-default btn-sm" %>


<%= link_to new_patient_relative_path(@patient), class: "btn btn-success" do %>
  <i class="glyphicon glyphicon-plus"></i> New Relative
<% end %>
